<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Photo</ion-label>
    </ion-item>
  
    <ion-card-content>
      <ion-img src="assets\img\test.jpg"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
