<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Undergraduate Degree Offerrings</ion-label>
    </ion-item>
  
    <ion-card-content>
      <p>BSc. General</p>

      <div class = "sub">
        <p>1. Computer Science Major</p>
        <p>2. Software Engineering</p>
      </div>

      <br>

      <p>BSc. Information Technology</p>

      <br>
      
      <p>BSc. Computer Studies Option</p>

      <br>

      <p>BSc. Software Engineering (Mobile Application Techniques)</p>

      <br>

      <p>Minors are Offered as Follows:</p>
      
      <div class = "sub">
        <p>1. Minor in Computer Science</p>
        <p>2. Minor in Software Engineering</p>
        <p>3. Minor in Information Technology</p>
      </div>

      <br>

      <p>Course Listing</p>
    </ion-card-content>
  </ion-card>

</ion-content>
